<strong>Olá, {{ studentName }}</strong>
<p>Sua mátricula foi realizada com sucesso. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ studentName }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Preço total: </strong> R$ {{ price }} <br />
</p>
